<div class="main">
    <div class="Passport">
      <div class="authBlock">
        <h3>Reset Password</h3>
  
        <p>Please enter your email address to request a password reset.</p>
  
        
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      
  
      <div class="acchave">
        <h4>Go back to ?</h4> <a  href="/sign-in">Log In</a>
      </div>
  
    </div>
  </div>